@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* dark mode */
  --main-black: #1b1b1b;
  --secondary-black: #242124;
  --third-black: #333333;
  --fourth-black: #2b2b2a;
  --text-color: rgb(115, 115, 115);
  --secondary-text-color: rgb(185, 185, 185);

  /* light mode */
  --main-white: #f8f8ff;
  --secondary-white: #f2f3f4;
  --third-white: #f5f5f5;
  --fourth-white: #fffafa;
  --light-mode-text: #1b1b1b;
}

body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  color: var(--text-color);
  background-color: var(--secondary-black);
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 8px;
  width: 100%;
  height: 50px;
  background-color: var(--main-black);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  width: 800px;
  text-align: right;
}

.darkToggler {
  height: 100%;
  width: 80px;
  border: 2px solid var(--secondary-black);
  border-radius: 8px;
  background-color: var(--third-black);
  transition: transform 0.1s ease;
}

.darkToggler:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.darkToggler:active {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15),
    inset 0px 4px 8px rgba(0, 0, 0, 0.15),
    inset 0px 8px 16px rgba(0, 0, 0, 0.15);
}

.main {
  height: calc(100vh - 50px);
  margin-top: 50px;
}

.calculator-container {
  height: 100%;
  width: 800px;
  margin: 0 auto;
  padding: 12px;
  display: grid;
  column-gap: 4px;
  grid-template-columns: 2fr 1fr;
}

.calculator {
  display: grid;
  grid-template-rows: 1fr 4fr;
  gap: 8px;
  padding: 16px;
  border-radius: 12px;
  background-color: var(--fourth-black);
}

.calculator-screen {
  font-family: "Orbitron", sans-serif;
  background-color: var(--main-black);
  border-radius: 8px;
  width: 100%;
}

.calculator-controls {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: var(--main-black);
  padding: 12px;
  border-radius: 8px;
}

.buttons {
  font-family: "Orbitron", sans-serif;
  font-size: 32px;
  background-color: var(--third-black);
  color: var(--text-color);
  border-radius: 0.375rem;
  border: none;
  box-shadow: rgba(107, 108, 109, 0.3) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.15) 0px 2px 6px 2px;
}

.buttons:hover {
  background-color: var(--text-color);
  color: var(--main-black);
  cursor: pointer;
}

.buttons:active {
  box-shadow: rgb(86, 87, 88) 3px 3px 6px 0px inset,
    rgba(50, 50, 50, 0.5) -3px -3px 6px 1px inset;
}

.button-0 {
  grid-column: span 2;
}

.equal {
  grid-row: span 2;
}

.history {
  border: 1px solid red;
}

.footer {
  height: 60px;
  background-color: var(--main-black);
}
